@charset "UTF-8";
ol, ul, html {
  margin: 5;
  padding: 5;
}

/* Uso de directiva @mixin */
/* Para usar @mixin, se usa la directiva @include */
.control2 {
  color: red;
  font-size: 20px;
  font-weight: bold;
  border: 1px solid blue;
  background-color: aqua;
}

.control {
  background-color: aqua;
  color: black;
}

.secundario {
  background-color: #f2c5e5;
  color: black;
}

#control3 {
  color: red;
  font-size: 20px;
  font-weight: bold;
  border: 1px solid blue;
}

/*
Este es un comentario en SASS.
*/
/* Definición de variables */
/* Color suave */
/* Helvetica */
/* Usando las variables */
body {
  background-color: #f1f478;
  color: darkblue;
  font-size: 18px;
}

#container {
  width: 630px;
  font-family: "Arial", sans-serif;
  background-color: #92edf0;
}

h1 {
  /* Color suave */
  background-color: #f2c5e5;
}

a {
  color: #f2c5e5;
}

/* Anidamiento */
nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
nav li {
  display: inline-block;
}
nav a {
  display: block;
  padding: 6px 12px;
  text-decoration: none;
  font-family: Helvetica, sans-serif;
  font-size: 21px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  text-overflow: hidden;
}

/*
nav ul {}
nav li{}
nav a{}
*/