/* Uso de directiva @mixin */
/* Para usar @mixin, se usa la directiva @include */
.control2 {
  color: red;
  font-size: 20px;
  font-weight: bold;
  border: 1px solid blue;
  background-color: aqua;
}