@import "parcial1"; // Importando un archivo parcial
@import "parcial2";
/*
Este es un comentario en SASS.
*/

/* Definición de variables */
$colorDeFondo: #f1f478;
$colorDeTexto: darkblue;
$tamanyoFuente: 18px; 
$colorSuave: #92edf0; /* Color suave */

$miFuente: 'Arial', sans-serif; /* Helvetica */
$miAncho: 630px;

/* Usando las variables */
body {
    background-color: $colorDeFondo;
    color: $colorDeTexto;
    font-size: $tamanyoFuente;
}

#container{
    width: $miAncho;
    font-family: $miFuente;
    background-color: $colorSuave;
}

h1 {
    $colorSuave: #f2c5e5 !global; /* Color suave */
    background-color: $colorSuave;
}

a {
    color: $colorSuave;
}

/* Anidamiento */

nav {
    ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }
    li{
        display: inline-block;
    }
    a {
        display: block;
        padding: 6px 12px;
        text-decoration: none;
        font: {
            family: Helvetica, sans-serif;
            size: 21px;
            weight: bold;
        }
        text: {
            align: center;
            transform: uppercase;
            overflow: hidden;
        }
    }
}
/*
nav ul {}
nav li{}
nav a{}
*/